version: '3.8'

services:
  app:
    build: .
    ports:
      - "4000:4000"
    dns:
      - 8.8.8.8
      - 8.8.4.4
    environment:
      SMARTICO_API_TOKEN: ${SMARTICO_API_TOKEN}
      SMARTICO_API_URL: ${SMARTICO_API_URL}
      DATABRICKS_HOST: ${DATABRICKS_HOST}
      DATABRICKS_HTTP_PATH: ${DATABRICKS_HTTP_PATH}
      DATABRICKS_TOKEN: ${DATABRICKS_TOKEN}
      PORT: ${PORT}
      NODE_ENV: ${NODE_ENV}
    restart: unless-stopped
